h1{
    color: aqua;

}
body{
    background-image: url(Images/th.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment:scroll;
}
#para1{
    background-color: azure;
    border-style: solid;
    border-bottom-style: dashed;
    border-left-style: ridge;
    border-top-style:double;
    border-right-style: dotted;
    border-color: darkorange;
    border-radius:15px;
}
#param2{
    border-style: groove;
    border-color: rgb(196, 255, 196);
}
#one{
    font-style: italic;
    font-size: 10px;
    color: beige;
    background-color:blue;

}